<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syc.yueme"
    android:versionCode="11"
    android:versionName="1.0.9" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- baidumap 所需的权限 -start -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- location -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- baidumap 所需的权限 -end -->
    <application
        android:name=".base.App"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Customtheme" >

        <!-- android:theme="@android:style/Theme.Holo.Light.NoActionBar" -->

        <activity
            android:name=".ui.activity.ChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme" />

        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.avoscloud.chat.RETRY_CONNECT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.receiver.MsgReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.avoscloud.session.action" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.receiver.GroupMsgReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.avoscloud.group.action" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.UpdateContentActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ImageBrowerActivity" />
        <activity
            android:name=".ui.activity.LocationActivity"
            android:theme="@style/MainTheme" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.NewFriendActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.AddFriendActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.YueUpdateActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.MyMessageActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.YingYueActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.CommentUpdateActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.PersonInfoActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.NotifySettingActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.GroupListActivity"
            android:label="@string/group"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.GroupDetailActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".ui.activity.GroupAddMembersActivity"
            android:label="@string/inviteMembers"
            android:theme="@style/MainTheme" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- Don't forgot InitActivity -->


        <!--
            <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fnWUFPMrQfBv9nzkzFOY8ILT" />
        -->


        <!-- prod -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CSKDefdCawbGTBoMyWamDZ8q" />

        <activity
            android:name=".ui.activity.PasswordChangeActivity"
            android:label="@string/title_activity_password_change"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity2"
            android:label="@string/title_activity_register_activity2" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity1"
            android:label="@string/title_activity_register_activity1" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity3"
            android:label="@string/title_activity_register_activity3" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity4"
            android:label="@string/title_activity_register_activity4" >
        </activity>
        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.UserCharacristicsActivity"
            android:label="@string/title_activity_user_characristics"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.UserHobbiesActivity"
            android:label="@string/title_activity_user_hobbies"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.UserSignActivity"
            android:label="@string/title_activity_user_sign"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.UserSpecialityActivity"
            android:label="@string/title_activity_user_speciality"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.PasswordResetActivity"
            android:label="@string/title_activity_password_reset"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.activity.UserHometownActivity"
            android:label="@string/title_activity_user_hometown"
            android:theme="@style/MainTheme" >
        </activity>
        <activity
            android:name=".ui.activity.UserNicknameActivity"
            android:theme="@style/MainTheme"
            android:label="@string/title_activity_user_nickname" >
        </activity>
    </application>

</manifest>
